<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reallyfun.server.mapper.IRatingMapper">
    <insert id="insert">
        INSERT INTO t_rating (game_id, user_id, rating,
                              created_user, created_time, modified_user, modified_time)
        VALUES (#{gameId}, #{userId}, #{rating},
                #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime})
    </insert>

    <select id="existByIds" resultType="Integer">
        SELECT 1
        FROM t_rating
        WHERE game_id = #{gameId}
          and user_id = #{userId} LIMIT 1
    </select>
</mapper>