<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reallyfun.server.mapper.ITagMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_tag (id, content,
                           created_user, created_time, modified_user, modified_time)
        VALUES (#{id}, #{content},
                #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime})
    </insert>

    <delete id="deleteById">
        DELETE
        FROM t_tag
        WHERE id = #{id}
    </delete>

    <select id="existById" resultType="Integer">
        SELECT 1
        FROM t_tag
        WHERE id = #{id} LIMIT 1
    </select>

    <select id="existByContent" resultType="Integer">
        SELECT 1
        FROM t_tag
        WHERE content = #{content} LIMIT 1
    </select>

    <insert id="insertRel">
        INSERT INTO t_rel_game_tag (game_id, tag_id,
                                    created_user, created_time, modified_user, modified_time)
        VALUES (#{gameId}, #{tagId},
                #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime})
    </insert>

    <delete id="deleteRelByIds">
        DELETE
        FROM t_rel_game_tag
        WHERE game_id = #{gameId}
          AND tag_id = #{tagId}
    </delete>

    <select id="existRelByIds" resultType="Integer">
        SELECT 1
        FROM t_rel_game_tag
        WHERE game_id = #{gameId}
          AND tag_id = #{tagId} LIMIT 1
    </select>
</mapper>