<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reallyfun.server.mapper.IUserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user (id, name, password, salt, email, avatar, auth,
                            created_user, created_time, modified_user, modified_time)
        VALUES (#{id}, #{name}, #{password}, #{salt}, #{email}, #{avatar}, #{auth},
                #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime})
    </insert>

    <delete id="deleteById">
        DELETE
        FROM t_user
        WHERE id = #{id}
    </delete>

    <select id="findUserById" resultType="com.reallyfun.server.entity.User">
        SELECT *
        FROM t_user
        WHERE id = #{id}
    </select>

    <select id="findUserByName" resultType="com.reallyfun.server.entity.User">
        SELECT *
        FROM t_user
        WHERE name = #{name}
    </select>

    <update id="updateById">
        UPDATE t_user
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="salt != null">
                salt = #{salt},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="auth != null">
                auth = #{auth},
            </if>
            modified_user = #{modifiedUser},
            modified_time = #{modifiedTime}
        </set>
        WHERE id = #{id}
    </update>


    <!-- 插⼊数据：Integer insert(Example example) -->
    <!--    <insert id="insert" useGeneratedKeys="true" keyProperty="eid">-->
    <!--        INSERT INTO t_example (eid, eint, estr,-->
    <!--                               created_user, created_time, modified_user, modified_time)-->
    <!--        VALUES (#{eid}, #{eint}, #{estr},-->
    <!--                #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime})-->
    <!--    </insert>-->
    <!-- 根据eid删除数据：Example deleteByEid(Integer eid) -->
    <!--    <delete id="deleteByEid">-->
    <!--        DELETE-->
    <!--        FROM t_example-->
    <!--        WHERE eid = #{eid}-->
    <!--    </delete>-->
    <!-- 根据eid更改数据：Integer UpdateEstrByEid(
        @Param("eid") String eid,
        @Param("estr") String estr) -->
    <!--    <update id="updateEstrByEid">-->
    <!--        UPDATE-->
    <!--            t_example-->
    <!--        SET estr          = #{dstEstr},-->
    <!--            modified_user = #{example.modifiedUser},-->
    <!--            modified_time = #{example.modifiedTime}-->
    <!--        WHERE eid = #{example.eid}-->
    <!--    </update>-->
    <!-- 根据eid查询数据：Example findByEid(String eid) -->
    <!--    <select id="findByEid" resultType="com.reallyfun.server.entity.Example">-->
    <!--        SELECT *-->
    <!--        FROM t_example-->
    <!--        WHERE eid = #{eid}-->
    <!--    </select>-->
</mapper>